# 中间产物
exp/
output/
bc2gm1/
.idea/
*.log
*.bak
*.safetensors
*.bin
*.pt

# 处理后的数据
data/*.json
results/*.jsonl
results/predictions/

# 缓存
__pycache__/
*.pyc
.cache/
.ipynb_checkpoints/

# 系统文件
.DS_Store
